<script setup lang="ts">
import Article from '@/components/Article.vue'
import { IntroClass } from '@/models/intro'

const { data } = defineProps<{
  data: IntroClass,
}>()
</script>

<template lang="pug">
section.intro(v-if='data')
  img.intro__image(:src='data.image' alt='intro image')
  div.intro__info
    h1.intro__info__title {{ data.title }}
    div.intro__info__stats
      div.intro__info__stats__read_time
        img.intro__info__stats__read_time__icon(src='@/assets/ico_clock.svg')
        div.intro__info__stats__read_time__text {{ data.readingTime }} мин время чтения
      div.intro__info__stats__views_count
        img.intro__info__stats__views_count__icon(src='@/assets/ico_eye.svg')
        div.intro__info__stats__views_count__text {{ data.viewsCount }} прочитали статью
    div.intro__info__desc {{ data.shortDescription }}
</template>

<style lang="scss">
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 30px;
  @media only screen and (min-width: 1600px) {
    flex-direction: row;

    &__image {
      max-width: 540px;
    }
  }
  
  &__image {
    width: 100%;
    height: 580px;
    border-radius: 2px 220px 2px 2px;
    object-fit: cover;
  }

  &__info {
    &__stats {
      margin-top: 30px;
      &__read_time, &__views_count {
        display: flex;
        align-items: center;
        grid-gap: 8px;
      }
      &__read_time__text, &__views_count__text {
        font-size: 14px;
        line-height: 20px;
        color: #8D959C;
      }
    }

    &__desc {
      margin-top: 50px;
    }
  }
}
</style>