<script setup lang="ts">
import { ArticleListClass } from '@/models/articleList'

import Article from '@/components/Article.vue'

const { data } = defineProps<{
  data: ArticleListClass,
}>()
</script>

<template lang="pug">
aside.articles(v-if='data')
  h2.articles__title {{ data.title }}
  div.articles__list
    Article(v-for='article in data.articles' :data='article')
</template>

<style lang="scss">
.articles {
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
  
  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    @media only screen and (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (min-width: 1600px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (min-width: 2100px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
</style>