<script setup lang="ts">
import Button from '@/components/Button.vue'
import Input from '@/components/Input.vue'
</script>

<template lang="pug">
aside.cta_form
  img.cta_form__image(src='@/assets/cta-img.png')
  form.cta_form__wrapper(@click.prevent)
    h2.cta_form__title Стань участником проекта
    div.cta_form__input
      Input.cta_form__input__item(placeholder='Имя')
      Input.cta_form__input__item(placeholder='Телефон')
      Input.cta_form__input__item(placeholder='Email')
    Button.cta_form__button(name='Присоединиться' color='blue')
</template>

<style lang="scss">
.cta_form {
  display: flex;
  flex-direction: column;
  grid-gap: 60px;
  padding: 60px;
  background: #1B1B1B;
  @media only screen and (min-width: 1200px) {
    flex-direction: row;
  }

  &__image {
    height: 326px;
    object-fit: cover;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 50px;
  }

  &__title {
    display: flex;
    justify-content: center;
    color: #FEFEFE;
    @media only screen and (min-width: 1200px) {
      justify-content: flex-start;
    }
  }
  
  &__input {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    grid-gap: 25px;
    width: 100%;
    max-width: 600px;
    @media only screen and (min-width: 1200px) {
      align-self: flex-start;
      max-width: 350px;
    }
    &__item {
      color: #FFFFFF;
    }
  }

  &__button {
    display: flex;
    align-self: flex-end;
    width: fit-content;
    @media only screen and (min-width: 1200px) {
      align-self: flex-start;
      max-width: 350px;
    }
  }
}
</style>
