<script setup lang="ts">
import SubscribeForm from '@/pageElements/SubscribeForm.vue'

const socials:string[] = ['fb', 'vk', 'insta', 'tg']
</script>

<template lang="pug">
footer.footer
  div.footer__info
    div.footer__info__desc
      img.footer__info__desc__logo(src='@/assets/logo.svg' alt='Logo TestBlog')
      p.footer__info__desc__text Cтатьи о дизайне и искусстве, которые исследуют творческие вдохновения и актуальные тенденции, раскрывая мир эстетики и креативности
    div.footer__info__contact
      div.footer__info__contact__email
        div.footer__info__contact__email__label email
        div.footer__info__contact__email__content testblogsupport@gmail.com
      div.footer__info__contact__socials
        img.footer__info__contact__socials__icon(v-for='social in socials' :src='`/src/assets/social-${social}.svg`')
  SubscribeForm
</template>

<style lang="scss">
.footer {
  display: flex;
  flex-direction: column;
  grid-gap: 70px;
  width: 100%;
  max-width: 1380px;
  margin: auto auto 0 auto;
  padding: 0 20px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #8D959C;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 0 0 0;
    padding: 0 80px 0 0;

    &__desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      grid-gap: 20px;

      &__logo {
        height: 32px;
      }
      &__text {
        max-width: 426px;
        font-size: 14px;
        line-height: 20px;
        color: #8D959C;
      }
    }

    &__contact {
      display: flex;
      flex-direction: column;
      grid-gap: 24px;

      &__email {
        display: flex;
        flex-direction: column;
        grid-gap: 2px;

        &__label {
          font-size: 14px;
          line-height: 20px;
          color: #8D959C;
        }
        &__content {
          font-weight: 600;
          line-height: 22px;
        }
      }
      &__socials {
        display: flex;
        grid-gap: 20px;
      }
    }
  }
}
</style>
