<script setup lang="ts">
</script>

<template lang="pug">
header.header
  a.header__link(href='/')
    img.header__link__logo(src='@/assets/logo.svg' alt='Logo TestBlog')
</template>

<style lang="scss">
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;

  &__link {
    &__logo {
      height: 32px;
    }
  }
}
</style>
