<script setup lang="ts">
import { ImageClass } from '@/models/image'

const { data } = defineProps<{
  data: ImageClass,
}>()
</script>

<template lang="pug">
figure.image(v-if='data')
  img.image__view(:src='data.src' alt='image')
  figcaption.image__caption {{ data.caption }}
</template>

<style lang="scss">
.image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-gap: 15px;

  &__view {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 2px 220px 2px 2px;
  }

  &__caption {
    font-size: 14px;
    line-height: 20px;
    color: #8D959C;
  }
}
</style>
