<script setup lang="ts">
import { computed, ref } from 'vue'
import type { Ref } from 'vue'
import { SliderClass } from '@/models/slider'
import Button from '@/components/Button.vue'

const { data } = defineProps<{
  data: SliderClass,
}>()
let counter:Ref<number> = ref(1)

const nextSlide = ():void => {
  if (counter.value < data.length) {
    counter.value++
  }
}
const prevSlide = ():void => {
  if (counter.value > 1) {
    counter.value--
  }
}
const getSliderPos = computed(():string => {
  return `-${(counter.value - 1) * 100}%`
})
</script>

<template lang="pug">
section.slider
  div.slider__wrapper
    Button(class='slider__button slider__button-left' @click='prevSlide()' name='' color='black')
      img.slider__button__icon(src='@/assets/ico_arrow-left.svg')
    div.slider__images__wrapper
      div.slider__images(:style="{'--slider-pos': getSliderPos}")
        img.slider__images__item(v-for='(slide, index) in data.images' :src='slide' :alt='`slide ${index}`')
    Button(class='slider__button slider__button-right' @click='nextSlide()' name='' color='black')
      img.slider__button__icon(src='@/assets/ico_arrow-right.svg')
  div.slider__counter {{ counter }} / {{ data.length }}
</template>

<style lang="scss">
.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 25px;

  &__wrapper {
    display: flex;
    align-items: center;
    grid-gap: 54px;
    width: 100%;
  }

  &__images {
    display: flex;
    align-items: center;
    height: 100%;
    transition: transform ease 0.2s;
    transform: translateX(var(--slider-pos));

    &__item {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__wrapper {
      width: 100%;
      height: 550px;
      overflow: hidden;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    min-height: 60px;
    padding: 0;
  }

  &__counter {
    color: #000000;
  }
}
</style>
