<script setup lang="ts">
import Input from '@/components/Input.vue'
import Button from '@/components/Button.vue'
</script>

<template lang="pug">
aside.subscribe
  h3.subscribe__title Подпишись на рассылку
  form.subscribe__form(@click.prevent)
    Input.subscribe__form__input(placeholder='Email')
    Button.subscribe__form__button(name='Подписаться' color='blue')
</template>

<style lang="scss">
.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 30px;
  background: #1B1B1B;

  &__title {
    color: #FEFEFE;
  }

  &__form {
    display: flex;
    align-items: flex-end;
    grid-gap: 37px;
    width: 613px;

    &__input {
      width: 100%;
      color: #FFFFFF;
    }
  }
}
</style>
