<script setup lang="ts">
const { data } = defineProps<{
  data: string,
}>()
</script>

<template lang="pug">
section.text_block(v-html='data')
</template>

<style lang="scss">
.text_block {
  width: 100%;
  max-width: 920px;
  padding: 0 20px;
  margin: 0 auto;

  h2 {
    margin-bottom: 50px;
  }
  h3 {
    margin-bottom: 34px;
  }

  p {
    margin-top: 20px;
    &:first-of-type {
      margin-top: 0;
    }
  }

  blockquote {
    position: relative;
    padding: 0 0 0 116px;
    margin-top: 40px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 64px;
      background: url('@/assets/ico_quote.svg');
    }
    p {
      margin: 0;
      font-style: italic;
      font-weight: 300;
    }
    footer {
      margin-top: 15px;
      font-size: 14px;
      line-height: 20px;
      color: #8D959C;
    }
  }

  ul {
    margin: 15px 0 0 115px;
    list-style-type: "◆";
  }
  li {
    padding-left: 10px;
  }
}
</style>
