<script setup lang="ts">
import { defineAsyncComponent, computed } from 'vue'

import { usePageElementsStore } from '@/stores/elements'
import { PageElementClass } from '@/models/pageElement'

const store = usePageElementsStore()

class PageElements {[name: string]: any}
const pageElements:PageElements = {
  'article_list_block': defineAsyncComponent(() => import('@/pageElements/ArticleListBlock.vue')),
  'article_intro_block': defineAsyncComponent(() => import('@/pageElements/ArticleIntroBlock.vue')),
  'text_block': defineAsyncComponent(() => import('@/pageElements/TextBlock.vue')),
  'image_block': defineAsyncComponent(() => import('@/pageElements/ImageBlock.vue')),
  'slider_block': defineAsyncComponent(() => import('@/pageElements/SliderBlock.vue')),
  'subscribe_form_block': defineAsyncComponent(() => import('@/pageElements/SubscribeForm.vue')),
  'cta_form_block': defineAsyncComponent(() => import('@/pageElements/CtaFormBlock.vue')),
}

store.getPageData(window.location.pathname)
const getElements = computed(():PageElementClass[] => {
  return store.elements
})

const contentComponent = (element:string):any => {
  return pageElements[element]
}
</script>

<template lang="pug">
div.content
  component(v-for='element in getElements' :is='contentComponent(element.type)' :data='element.data')
</template>

<style lang="scss">
.content {
  display: flex;
  flex-direction: column;
  grid-gap: 100px;
  width: 100%;
  max-width: 1380px;
  padding: 30px 20px 200px 20px;
  margin: 0 auto;
}
</style>
