<script setup lang="ts">
import { ArticleClass } from '@/models/article'
import Button from '@/components/Button.vue'

const { data } = defineProps<{
  data: ArticleClass,
}>()

const moveToArticle = ():void => {
  window.location.href = data.link
}
</script>

<template lang="pug">
a.article(v-if='data')
  img.article__image(:src='data.image' alt='article image')
  h3.article__title {{ data.title }}
  Button.article__button(@click='moveToArticle()' name='Читать' color='black')
</template>

<style lang="scss">
.article {
  display: flex;
  flex-direction: column;

  &__image {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }

  &__title {
    height: calc(2em + 15px);
    margin: 20px 0 30px 0;
    overflow: hidden;
  }

  &__button {
    width: fit-content;
  }
}
</style>@/models/article