<script setup lang="ts">
const { name, color } = defineProps<{
  name: string,
  color: string
}>()
</script>

<template lang="pug">
button(:class='`button button-${color}`') {{ name }}
  <slot />
</template>

<style lang="scss">
.button {
  display: flex;
  align-items: center;
  height: 46px;
  padding: 0 50px;
  color: #FFFFFF;
  transition: background ease 0.2s;
  &:hover {
    cursor: pointer;
  }

  &-blue {
    background: #3657D3;
    border: 1px solid #3657D3;
    &:hover {
      background: transparent;
    }
  }

  &-black {
    background: #1B1B1B;
    &:hover {
      background: #3657D3;
    }
  }
}
</style>
