<script setup lang="ts">
const { placeholder } = defineProps<{
  placeholder: string
}>()
</script>

<template lang="pug">
input.input(:placeholder='placeholder')
</template>

<style lang="scss">
.input {
  height: 28px;
  padding: 0 8px;
  border-bottom: 1px solid #8D959C;
  transition: border ease 0.2s;
  
  &:focus {
    border-color: #3657D3;
  }
  &::placeholder {
    color: #8D959C;
  }
  &:-ms-input-placeholder {
    color: #8D959C;
  }
  &::-ms-input-placeholder {
    color: #8D959C;
  }
}
</style>
