@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  border: none;
  outline: none;
  background: transparent;
  color: #1B1B1B;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
  background: #FEFEFE;
}

h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 66px;
}
h2 {
  font-size: 34px;
  font-weight: 800;
  line-height: 46px;
}
h3 {
  font-size: 22px;
  font-weight: 800;
  line-height: 30px;
}