<script setup lang="ts">
import Header from '@/pageElements/Header.vue'
import Footer from '@/pageElements/Footer.vue'
import Content from '@/views/Content.vue'
</script>

<template lang="pug">
Header
Suspense
  Content
Footer
</template>

<style lang="scss">
</style>
